<% title "Edit Player" %>

<% form_tag "/players", :method => :update do %>
    <%= textarea_tag @emails %>
    <%= submit_tag "Update" %>
<% end %>

<p><%= link_to "Back to list of players", players_path %></p>
