<% title "Players" %>

<% if @players.empty?%>
    <h2>There are no players currently signed up for this tournament</h2>
<% else %>
    <ul>
        <% @players.each do |player| %>
            <li><%= player.name %> <%= player.email %></li>
        <% end %>
    </ul>
<% end %>

<h2><%= link_to 'New players sign up here', new_player_path %></h2>

<hr>

<p><%= link_to 'Administration', { :controller => :admin, :action => :index }, :class => "admin-link" %></p>